{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'styles.css' %">
    <title> Tienda: videojuegos </title>
  <body>
    <div class='cabecera'>
      <div class='logo'>
        <a href="pagina1.html">
          <img src="/static/logotienda.jpg" alt="logotienda">
        </a>
      </div>
      <div class='titulo'>
        <h1> Videojugadores.com </h1>
      </div>
    </div>

    <div class="navegacion">
      <ul>
        <li><a class="active" href="pagina1.html">Novedades</a></li>
        <li><a href="pagina2.html">Ofertas</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </div>

    <div class="galeria">
      <h2> Últimos lanzamientos </h2>
      <div class="imagen">
        <a target="_blank" href="pagina2.html">
          <img src="static/re2.jpg" alt="re2">
        </a>
        <div class="titulo">Resident Evil 2 Remake</div>
      </div>
      <div class="imagen">
        <a target="_blank" href="pagina2.html">
          <img src="static/me.png" alt="me">
        </a>
        <div class="titulo">Metro Exodus</div>
      </div>
      <div class="imagen">
        <a target="_blank" href="pagina2.html">
          <img src="static/anthem.png" alt="anthem">
        </a>
        <div class="titulo">Anthem</div>
      </div>
    </div>

  </body>
</html>
