body {
  background-color:rgb(255, 255, 230);
}

h1 {
  color: white;
}

.cabecera {
  background-color: green;
  text-align: center;
}

.cabecera img{
  height: 100px;
  width: auto;
}

.cabecera .logo, .cabecera .titulo{
  display: inline-block;
  vertical-align: bottom;
}

.galeria{
  margin: auto;
  margin-top: 5px;
  border: 3px solid black;
  width: 66%;
  text-align: center;
}

div.imagen {
  margin-top: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 33%;
}

div.imagen:hover {
  border: 1px solid #777;
}

div.imagen img {
  width: 100%;
  height: auto;
}
